bin/
obj/
publish/

*.suo
*.user
*.userosscache
*.sln.docstates

packages/
*.nupkg
project.lock.json
*.nuget.props
*.nuget.targets

*.log
*.cache
*.pdb

appsettings.json
appsettings.*.json
*.pfx
*.key

Thumbs.db
desktop.ini
.DS_Store

.vscode/
.idea/
*.vs/
