@{
    ViewData["Title"] = "Client Page";
}

<div class="container mt-4">
    <h1 class="display-4 text-center mb-4">Clientes</h1>

    <!-- Botão para Adicionar Novos Clientes -->
    <div class="text-right mb-3">
        <a href="@Url.Action("Create", "Clientes")" class="btn btn-primary">Adicionar Cliente</a>
    </div>

    <!-- Tabela de Clientes -->
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Equipa</th>
                <th>Tipo</th>
                <th>Criado Por</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Nome</td>
                    <td>Equipa</td>
                    <td>Tipo</td>
                    <td>CriadoPor</td>
                    <td>
                        <a href="@Url.Action("Edit", "Client", new { id = 1 })" class="btn btn-sm btn-primary">Editar</a>
                        <a href="@Url.Action("Delete", "Client", new { id = 1 })" class="btn btn-sm btn-primary">Apagar</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
