@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto ASP.NET MVC</h1>

    <img src="/images/hqdefault.jpg" style="width:700px; height:auto;"/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellendus mollitia quis ab ipsam ex deserunt accusantium sed tempore temporibus sequi enim aliquam aliquid consequatur vero perspiciatis labore, natus cum.</a>.</p>

</div>