html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  min-height: 100vh;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#footer-component {
  width: 100%;
  position: relative;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control {
  margin-bottom: 0.5rem;
}

.button-div > a {
  text-decoration: none;
}

.button-header-auth {
  width: 4.5rem;
  padding: 0.2rem;

  color: #FFFFFF;
  transition: .5s ease all;

  border-radius: 0.3rem;
  border: 0.1rem solid #F2F2F2;
}

#login-button,
#logout-button {
  border-color: #1e3a8a;
  background-color: #1e3a8a;
}

#login-button:hover,
#logout-button:hover {
  color: #1e3a8a;
  background-color: #FFFFFF;
}

#register-button {
  color: #1e3a8a;

  border-color: #1e3a8a;
  background-color: transparent;
}

#register-button:hover {
  color: #FFFFFF;

  background-color: #1e3a8a;
}

.link-account {
  margin: 1.0rem 0;
  font-size: 1.1rem;
}

.form-auth {
  padding: 1.5rem;
  margin: 1.5rem 0;

  border-radius: 0.5rem;
  background-color: #F2F2F2;
  border: 1px solid #1e3b8a28;
}

.auth-div { 
  width: 100%;
  margin: 1.5rem 0;
}

.title-auth {
  width: max-content;
  font-size: 1.3rem;
  text-align: center;
}

.add-buttons {
  margin: 1.5rem 0;

  display: flex;
  align-items: center;
  flex-direction: row;
}

.button-add-client {
  width: 5.0rem;
  padding: 0.5rem;
  margin-left: 0.5rem;

  color: #FFFFFF;
  text-decoration: none;
  transition: .5s ease all;

  border-radius: 0.5rem;
  background-color: #1e3a8a;
  border: 1px solid #1e3a8a;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-add-client:hover {
  color: #1e3a8a;
  
  background-color: transparent;
}

.user-name-footer {
  padding: 0.2rem;
  margin-top: 0.4rem;

  font-size: 1.2rem;
  font-weight: normal;
}