html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer-component {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.button-div > a {
  text-decoration: none;
}

.button-header-auth {
  width: 4.5rem;
  padding: 0.2rem;

  color: #FFFFFF;
  transition: .5s ease all;

  border-radius: 0.3rem;
  border: 0.1rem solid #F2F2F2;
}

#login-button {
  border-color: #1e3a8a;
  background-color: #1e3a8a;
}

#login-button:hover {
  color: #1e3a8a;
  background-color: #FFFFFF;
}

#register-button {
  color: #1e3a8a;

  border-color: #1e3a8a;
  background-color: transparent;
}

#register-button:hover {
  color: #FFFFFF;

  background-color: #1e3a8a;
}

.link-account {
  margin: 1.0rem 0;
  font-size: 1.1rem;
}